In [3]:
import pandas as pd

In [5]:
data = {'col_1': [3, 2, 3],
        'col_2': [1, 2, 3]}
df = pd.DataFrame.from_dict(data)
df

   col_1  col_2
0      3      1
1      2      2
2      3      3

In [21]:
data = {'B1': ['mobil', 10, 10_000],
        'B2': ['motor', 20, 20_000],
        'B3': ['sepeda', 30, 30_000]}
# When using the ‘index’ orientation, the column names can be specified manually
df = pd.DataFrame.from_dict(data, orient='index', columns=['jenis', 'jumlah', 'harga'])

# auto add index increment
df.index = [x for x in range(1, len(df.values)+1)]

# set index to jenis item
# df.set_index('jenis', inplace=True)

df

    jenis  jumlah  harga
1   mobil      10  10000
2   motor      20  20000
3  sepeda      30  30000

In [23]:
df = pd.concat([df, pd.DataFrame.from_records([{'jenis': 'laptop', 'jumlah': 40, 'harga': 40_000}])], ignore_index=True)
df

    jenis  jumlah  harga
0   mobil      10  10000
1   motor      20  20000
2  sepeda      30  30000
3  laptop      40  40000
4  laptop      40  40000

In [24]:
# create empty dataframe with column name
df = pd.DataFrame(columns=['name', 'quantity', 'price@quantity'])
df

Empty DataFrame
Columns: [name, quantity, price@quantity]
Index: []

In [27]:
# add row to dataframe
df = pd.concat([df, pd.DataFrame.from_records([{'name': 'mobil', 'quantity': 10, 'price@quantity': 10_000}])], ignore_index=True)
# or, df.loc[len(df), ['a','b']] = 1, 2
df

    name quantity price@quantity
0  mobil       10          10000
1  mobil       10          10000
2  mobil       10          10000

In [ ]:
# drop data
# df.drop(df.index, inplace=True)

In [29]:
def add_data(item: str, quantity: int, price: int):
    global df
    df = pd.concat([df, pd.DataFrame.from_records([{'name': item, 'quantity': quantity, 'price@quantity': price}])], ignore_index=True)
    return df

In [49]:
add_data('motor', 2, 30_000)

     name quantity price@quantity
0  sepeda       15           1000
1   motor        2          30000

In [36]:
def update_item_name(old_name: str, new_name: str):
    global df
    df.loc[df['name'] == old_name, 'name'] = new_name
    return df

In [37]:
update_item_name('motor', 'motorcycle')

         name quantity price@quantity
0  motorcycle       20          20000

In [38]:
def update_item_quantity(item: str, quantity: int):
    global df
    df.loc[df['name'] == item, 'quantity'] = quantity
    return df

In [39]:
update_item_quantity('motorcycle', 30)

         name quantity price@quantity
0  motorcycle       30          20000

In [40]:
def update_item_price(item: str, price: int):
    global df
    df.loc[df['name'] == item, 'price@quantity'] = price
    return df

In [41]:
update_item_price('motorcycle', 30_000)

         name quantity price@quantity
0  motorcycle       30          30000

In [43]:
def delete_item(item: str):
    global df
    df.drop(df[df['name'] == item].index, inplace=True)
    return df

In [44]:
delete_item('sepeda')

         name quantity price@quantity
0  motorcycle       30          30000

In [45]:
def reset_transaction():
    global df
    df.drop(df.index, inplace=True)
    return df

In [46]:
reset_transaction()

Empty DataFrame
Columns: [name, quantity, price@quantity]
Index: []

In [51]:
def check_order():
    # buat validasi tipe data yang dimasukkan user
    return df

In [53]:
check_order()

     name quantity price@quantity
0  sepeda       15           1000
1   motor        2          30000

In [77]:
def total_price():
    total_price = sum(df['quantity'] * df['price@quantity'])
    if total_price > 500_000:
        total_price *= .90
    elif total_price > 300_000:
        total_price *= .92
    elif total_price > 200_000:
        total_price *= .95
    return total_price

In [78]:
print(total_price())

75000

# Main

In [ ]:
import pandas as pd

In [142]:
class Transaction:
    def __init__(self, name_buyer):
        self.name_buyer = name_buyer
        self.df = pd.DataFrame(columns=['name', 'quantity', 'price@quantity'])

    def add_data(self, item: str, quantity: int, price: int):
        self.df = pd.concat([self.df, pd.DataFrame.from_records([{'name': item, 'quantity': quantity, 'price@quantity': price}])], ignore_index=True)
        return self.df

    def update_item_name(self, old_name: str, new_name: str):
        self.df.loc[self.df['name'] == old_name, 'name'] = new_name
        return self.df

    def update_item_price(self, item: str, price: int):
        self.df.loc[self.df['name'] == item, 'price@quantity'] = price
        return self.df

    def update_item_quantity(self, item: str, quantity: int):
        self.df.loc[self.df['name'] == item, 'quantity'] = quantity
        return self.df

    def delete_item(self, item: str):
        self.df.drop(self.df[self.df['name'] == item].index, inplace=True)
        return self.df

    def reset_transaction(self):
        self.df.drop(self.df.index, inplace=True)
        return self.df

    def check_order(self):
        # buat validasi tipe data yang dimasukkan user
        return self.df

    def total_price(self):
        total_price = sum(self.df['quantity'] * self.df['price@quantity'])
        if total_price > 500_000:
            total_price *= .90
        elif total_price > 300_000:
            total_price *= .92
        elif total_price > 200_000:
            total_price *= .95
        return total_price

In [143]:
def main():

    print("-"*60)
    print("SELAMAT DATANG DI APLIKASI KASIR SEDERHANA")
    print("-"*60)
    print("1. Cek Transaksi")
    print("2. Tambahkan Barang")
    print("3. Update Barang yang Ingin Dibeli")
    print("4. Batal Membeli")
    print("5. Total Belanjaan")
    print("6. Simpan")
    print("7. Exit\n")

    choice = int(input('Pilihan? '))
    transaction = Transaction(name)

    try:
        if choice == 1:
            print(transaction.check_order())
        elif choice == 2:
            while True:
                name_item = str(input('Masukkan nama barang: '))
                quantity = int(input('Masukkan jumlah barang: '))
                price = int(input('Masukkan harga barang: '))
                add_data(name_item, quantity, price)
                print('Barang berhasil ditambahkan.')
                print('Apakah kamu ingin menambahkan barang lagi?')
                choice = str(input('Y/N? '))
                if choice == 'N':
                    main()
        elif choice == 3:
            print('1. Update nama barang')
            print('2. Update jumlah barang')
            print('3. Update harga barang')
            choice = int(input('Pilihan? '))
            if choice == 1:
                old_name = str(input('Masukkan nama barang yang ingin diubah: '))
                new_name = str(input('Masukkan nama barang yang baru: '))
                update_item_name(old_name, new_name)
                print('Nama barang berhasil diubah.')
            elif choice == 2:
                item = str(input('Masukkan nama barang yang ingin diubah: '))
                quantity = int(input('Masukkan jumlah barang yang baru: '))
                update_item_quantity(item, quantity)
                print('Jumlah barang berhasil diubah.')
            elif choice == 3:
                item = str(input('Masukkan nama barang yang ingin diubah: '))
                price = int(input('Masukkan harga barang yang baru: '))
                update_item_price(item, price)
                print('Harga barang berhasil diubah.')
            else:
                print('Input Anda salah.\n')
                main()
        elif choice == 4:
            print('1. Hapus barang')
            print('2. Reset transaksi')
            choice = int(input('Pilihan? '))
            if choice == 1:
                item = str(input('Masukkan nama barang yang ingin dihapus: '))
                delete_item(item)
                print('Barang berhasil dihapus.')
            elif choice == 2:
                reset_transaction()
                print('Transaksi berhasil direset.')
            else:
                print('Input Anda salah.\n')
                main()
        elif choice == 5:
            total_price()
        elif choice == 6:
            pass
        elif choice == 7:
            print("-"*60)
            print("Terima kasih!.")
            print("-"*60)
            pass
        else:
            print("Input Anda Salah.\n")
            main()
    except:
        print("Input Anda salah.\n")
        main()


if __name__ == "__main__":
    name = str(input('Masukkan nama kamu: '))
    main()

------------------------------------------------------------
SELAMAT DATANG DI APLIKASI KASIR SEDERHANA
------------------------------------------------------------
1. Cek Transaksi
2. Tambahkan Barang
3. Update Barang yang Ingin Dibeli
4. Batal Membeli
5. Total Belanjaan
6. Simpan
7. Exit

Barang berhasil ditambahkan.
Apakah kamu ingin menambahkan barang lagi?
Barang berhasil ditambahkan.
Apakah kamu ingin menambahkan barang lagi?
------------------------------------------------------------
SELAMAT DATANG DI APLIKASI KASIR SEDERHANA
------------------------------------------------------------
1. Cek Transaksi
2. Tambahkan Barang
3. Update Barang yang Ingin Dibeli
4. Batal Membeli
5. Total Belanjaan
6. Simpan
7. Exit

Empty DataFrame
Columns: [name, quantity, price@quantity]
Index: []
Input Anda salah.

------------------------------------------------------------
SELAMAT DATANG DI APLIKASI KASIR SEDERHANA
------------------------------------------------------------
1. Cek Transaksi
2. Tambahkan Barang
3. Update Barang yang Ingin Dibeli
4. Batal Membeli
5. Total Belanjaan
6. Simpan
7. Exit

ValueError: invalid literal for int() with base 10: ''